In [1]:
import pandas as pd
import geopandas as gpd

# PROVINCE

In [2]:
regioni = gpd.read_file('dataset\dati_spaziali\Reg01012019_g\Reg01012019_g_WGS84.shp')
province = gpd.read_file('dataset\dati_spaziali\ProvCM01012019_g\ProvCM01012019_g_WGS84.shp')

In [3]:
regioni.head()

,COD_RIP,COD_REG,DEN_REG,SHAPE_AREA,SHAPE_LEN,geometry
0,1,1,Piemonte,2.539389e+10,1.236787e+06,"POLYGON ((457749.464 5145501.795, 458662.395 5..."
1,1,2,Valle d'Aosta,3.258838e+09,3.109681e+05,"POLYGON ((390652.644 5091766.171, 390748.643 5..."
2,1,3,Lombardia,2.386232e+10,1.410223e+06,"MULTIPOLYGON (((595652.358 5163515.659, 596042..."
3,2,4,Trentino-Alto Adige,1.360755e+10,8.008937e+05,"POLYGON ((743267.749 5219765.793, 743387.812 5..."
4,2,5,Veneto,1.834353e+10,1.054698e+06,"POLYGON ((768123.960 5175397.497, 768135.210 5..."

In [4]:
province.head()

,COD_RIP,COD_REG,COD_PROV,COD_CM,COD_UTS,DEN_PROV,DEN_CM,DEN_UTS,SIGLA,TIPO_UTS,SHAPE_AREA,SHAPE_LEN,geometry
0,2,6,93,0,93,Pordenone,-,Pordenone,PN,UnitÃ non amministrativa,2.275459e+09,277744.673487,"POLYGON ((770721.594 5143295.297, 770956.217 5..."
1,4,14,94,0,94,Isernia,-,Isernia,IS,Provincia,1.534487e+09,260963.457300,"POLYGON ((940185.641 4651530.883, 940230.891 4..."
2,1,1,96,0,96,Biella,-,Biella,BI,Provincia,9.124848e+08,158026.165333,"POLYGON ((432302.878 5067417.859, 432992.404 5..."
3,1,3,97,0,97,Lecco,-,Lecco,LC,Provincia,8.056511e+08,181294.401343,"POLYGON ((532079.618 5104664.092, 533286.608 5..."
4,1,3,98,0,98,Lodi,-,Lodi,LO,Provincia,7.819878e+08,234944.113661,"POLYGON ((534551.968 5035118.603, 534818.280 5..."

Considero solo le province della Puglia

In [5]:
codice_puglia = regioni[regioni['DEN_REG'] == 'Puglia']['COD_REG'].values[0]

In [6]:
province_puglia = province[province['COD_REG'] == codice_puglia]
province_puglia.reset_index(inplace=True, drop=True)

In [7]:
province_puglia.head()

,COD_RIP,COD_REG,COD_PROV,COD_CM,COD_UTS,DEN_PROV,DEN_CM,DEN_UTS,SIGLA,TIPO_UTS,SHAPE_AREA,SHAPE_LEN,geometry
0,4,16,110,0,110,Barletta-Andria-Trani,-,Barletta-Andria-Trani,BT,Provincia,1.541995e+09,238816.245031,"POLYGON ((1081237.144 4611047.023, 1081399.393..."
1,4,16,71,0,71,Foggia,-,Foggia,FG,Provincia,7.006610e+09,468273.545730,"MULTIPOLYGON (((1085532.451 4667873.788, 10858..."
2,4,16,72,272,272,-,Bari,Bari,BA,Citta metropolitana,3.862964e+09,364658.850815,"MULTIPOLYGON (((1136700.636 4589454.112, 11368..."
3,4,16,73,0,73,Taranto,-,Taranto,TA,Provincia,2.466334e+09,360247.261851,"MULTIPOLYGON (((1199887.770 4549965.831, 11999..."
4,4,16,74,0,74,Brindisi,-,Brindisi,BR,Provincia,1.859920e+09,257378.084344,"MULTIPOLYGON (((1258535.865 4539852.825, 12585..."

In [8]:
province_puglia = province_puglia[['DEN_UTS', 'COD_PROV', 'SHAPE_AREA', 'SHAPE_LEN', 'geometry']]
province_puglia.rename(columns={'DEN_UTS': 'nome', 
                                'COD_PROV': 'id_prov'}, 
                       inplace=True)

In [9]:
province_puglia.head()

,nome,id_prov,SHAPE_AREA,SHAPE_LEN,geometry
0,Barletta-Andria-Trani,110,1.541995e+09,238816.245031,"POLYGON ((1081237.144 4611047.023, 1081399.393..."
1,Foggia,71,7.006610e+09,468273.545730,"MULTIPOLYGON (((1085532.451 4667873.788, 10858..."
2,Bari,72,3.862964e+09,364658.850815,"MULTIPOLYGON (((1136700.636 4589454.112, 11368..."
3,Taranto,73,2.466334e+09,360247.261851,"MULTIPOLYGON (((1199887.770 4549965.831, 11999..."
4,Brindisi,74,1.859920e+09,257378.084344,"MULTIPOLYGON (((1258535.865 4539852.825, 12585..."

In [10]:
convertitore_province_indici = {province_puglia.loc[i,'id_prov']: i+1 for i in range(province_puglia.shape[0])}

In [11]:
province_puglia['id_prov'] = province_puglia['id_prov'].map(convertitore_province_indici)

In [12]:
province_puglia.to_file('./dataset/dati_spaziali/ProvCM01012019_g/province.shp')

# DECESSI

In [13]:
decessi = pd.read_csv('dataset/morti/DCIS_CMORTE1_EV_15052023111151999.csv')

In [14]:
decessi.head()

,ITTER107,Territorio,TIPO_DATO15,Tipo dato,SEXISTAT1,Sesso,CAUSEMORTE_SL,Causa iniziale di morte - European Short List,TIME,Seleziona periodo,Value,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,IT110,Barletta-Andria-Trani,DEATH,morti,1,maschi,11,malattie del sistema osteomuscolare e del tess...,2020,2020,3,NaN,NaN,NaN
1,IT110,Barletta-Andria-Trani,DEATH,morti,1,maschi,12,malattie dell'apparato genitourinario,2020,2020,29,NaN,NaN,NaN
2,IT110,Barletta-Andria-Trani,DEATH,morti,1,maschi,7,malattie del sistema circolatorio,2020,2020,506,NaN,NaN,NaN
3,IT110,Barletta-Andria-Trani,DEATH,morti,1,maschi,4,"malattie endocrine, nutrizionali e metaboliche",2020,2020,103,NaN,NaN,NaN
4,IT110,Barletta-Andria-Trani,DEATH,morti,1,maschi,9,malattie dell'apparato digerente,2020,2020,61,NaN,NaN,NaN

In [15]:
decessi = decessi[['Territorio', 'Sesso', 'Causa iniziale di morte - European Short List', 'TIME', 'Value']]

In [16]:
decessi_finale = pd.DataFrame(columns = ['nome_malattia', 'numero_decessi_maschi', 'numero_decessi_femmine', 'anno', 'provincia'])

Modifico il dataset in modo da avere come colonne 'nome_malattia', 'numero_decessi_maschi', 'numero_decessi_femmine', 'anno', 'provincia'

In [17]:
for p in set(decessi['Territorio']):
    decessi_territorio = decessi[decessi['Territorio'] == p]
    for c in set(decessi_territorio['Causa iniziale di morte - European Short List']):
        decessi_territorio_malattia = decessi_territorio[decessi_territorio['Causa iniziale di morte - European Short List'] == c]
        decessi_territorio_malattia_maschi = decessi_territorio_malattia[decessi_territorio_malattia['Sesso'] == 'maschi']['Value'].values[0]
        decessi_territorio_malattia_femmine = decessi_territorio_malattia[decessi_territorio_malattia['Sesso'] == 'femmine']['Value'].values[0]
        row = [c, decessi_territorio_malattia_maschi, decessi_territorio_malattia_femmine, '2020', p]
        decessi_finale.loc[len(decessi_finale)] = row

In [18]:
decessi.head(6)

,Territorio,Sesso,Causa iniziale di morte - European Short List,TIME,Value
0,Barletta-Andria-Trani,maschi,malattie del sistema osteomuscolare e del tess...,2020,3
1,Barletta-Andria-Trani,maschi,malattie dell'apparato genitourinario,2020,29
2,Barletta-Andria-Trani,maschi,malattie del sistema circolatorio,2020,506
3,Barletta-Andria-Trani,maschi,"malattie endocrine, nutrizionali e metaboliche",2020,103
4,Barletta-Andria-Trani,maschi,malattie dell'apparato digerente,2020,61
5,Barletta-Andria-Trani,maschi,tumori maligni,2020,529

Sostituisco il nome della provincia nei decessi con il corrispondente indice della tabella province

In [19]:
for i in range(decessi_finale.shape[0]):
    provincia_nome = decessi_finale.loc[i, 'provincia']
    indice = province_puglia[province_puglia['nome'] == provincia_nome]['id_prov'].values[0]
    decessi_finale.loc[i, 'provincia'] = indice

In [20]:
decessi_finale.head(30)

,nome_malattia,numero_decessi_maschi,numero_decessi_femmine,anno,provincia
0,malattie dell'apparato genitourinario,56,73,2020,4
1,malattie del sistema osteomuscolare e del tess...,1,17,2020,4
2,"malattie endocrine, nutrizionali e metaboliche",152,202,2020,4
3,malattie dell'apparato digerente,105,97,2020,4
4,malattie del sistema respiratorio,256,185,2020,4
5,tumori maligni,822,620,2020,4
6,malattie del sistema circolatorio,979,1243,2020,4
7,malattie dell'apparato genitourinario,127,169,2020,3
8,malattie del sistema osteomuscolare e del tess...,14,41,2020,3
9,"malattie endocrine, nutrizionali e metaboliche",358,481,2020,3
10,malattie dell'apparato digerente,246,180,2020,3
11,malattie del sistema respiratorio,486,387,2020,3
12,tumori maligni,1810,1360,2020,3
13,malattie del sistema circolatorio,1930,2371,2020,3
14,malattie dell'apparato genitourinario,29,51,2020,1
15,malattie del sistema osteomuscolare e del tess...,3,13,2020,1
16,"malattie endocrine, nutrizionali e metaboliche",103,139,2020,1
17,malattie dell'apparato digerente,61,67,2020,1
18,tumori maligni,529,393,2020,1
19,malattie del sistema respiratorio,174,117,2020,1
20,malattie del sistema circolatorio,506,660,2020,1
21,malattie dell'apparato genitourinario,59,73,2020,2
22,malattie del sistema osteomuscolare e del tess...,14,22,2020,2
23,"malattie endocrine, nutrizionali e metaboliche",212,281,2020,2
24,malattie dell'apparato digerente,121,116,2020,2
25,malattie del sistema respiratorio,262,199,2020,2
26,tumori maligni,886,660,2020,2
27,malattie del sistema circolatorio,1113,1365,2020,2
28,malattie dell'apparato genitourinario,40,51,2020,5
29,malattie del sistema osteomuscolare e del tess...,8,14,2020,5

In [21]:
decessi_finale.index += 1

In [22]:
decessi_finale.to_csv('./dataset/morti/tabella_decessi.csv', index_label='id_decessi')

# COMUNI

In [23]:
comuni = gpd.read_file('dataset\dati_spaziali\Com01012019_g\Com01012019_g_WGS84.shp')

In [24]:
comuni.head()

,COD_RIP,COD_REG,COD_PROV,COD_CM,COD_UTS,PRO_COM,PRO_COM_T,COMUNE,COMUNE_A,CC_UTS,SHAPE_AREA,SHAPE_LEN,geometry
0,1,1,2,0,2,2033,002033,Casanova Elvo,NaN,0,1.629650e+07,17603.369590,"POLYGON ((443530.613 5029817.639, 445732.879 5..."
1,1,1,2,0,2,2035,002035,San Giacomo Vercellese,NaN,0,9.615663e+06,12302.515622,"POLYGON ((447178.304 5039510.567, 448483.263 5..."
2,1,1,2,0,2,2041,002041,Cervatto,NaN,0,9.541464e+06,12306.352315,"POLYGON ((432975.401 5081965.753, 433125.338 5..."
3,1,1,2,0,2,2042,002042,Cigliano,NaN,0,2.578632e+07,25816.636313,"MULTIPOLYGON (((423587.294 5018848.218, 425296..."
4,1,1,2,0,2,2043,002043,Civiasco,NaN,0,7.365552e+06,14598.145399,"POLYGON ((447408.640 5075667.800, 447902.347 5..."

In [25]:
comuni_puglia = comuni[comuni['COD_REG'] == codice_puglia]
comuni_puglia.reset_index(inplace=True, drop=True)

In [26]:
comuni_puglia.head()

,COD_RIP,COD_REG,COD_PROV,COD_CM,COD_UTS,PRO_COM,PRO_COM_T,COMUNE,COMUNE_A,CC_UTS,SHAPE_AREA,SHAPE_LEN,geometry
0,4,16,71,0,71,71058,071058,Troia,NaN,0,1.681198e+08,77160.551947,"POLYGON ((1041275.972 4603790.148, 1041721.467..."
1,4,16,71,0,71,71059,071059,Vico del Gargano,NaN,0,1.122155e+08,56884.659310,"POLYGON ((1079914.496 4666947.555, 1079974.995..."
2,4,16,71,0,71,71060,071060,Vieste,NaN,0,1.690001e+08,59072.939490,"MULTIPOLYGON (((1091226.148 4664751.555, 10915..."
3,4,16,71,0,71,71061,071061,Volturara Appula,NaN,0,5.222361e+07,32206.389310,"POLYGON ((1005603.291 4615208.353, 1006059.537..."
4,4,16,71,0,71,71042,071042,Rocchetta Sant'Antonio,NaN,0,7.245973e+07,42285.619431,"POLYGON ((1044280.402 4575508.386, 1044778.648..."

In [27]:
comuni_puglia = comuni_puglia[['COD_PROV', 'COMUNE', 'SHAPE_AREA', 'SHAPE_LEN', 'geometry']]
comuni_puglia.rename(columns={'COMUNE': 'nome',
                              'COD_PROV': 'id_prov'}, 
                       inplace=True)

In [28]:
comuni_puglia.head()

,id_prov,nome,SHAPE_AREA,SHAPE_LEN,geometry
0,71,Troia,1.681198e+08,77160.551947,"POLYGON ((1041275.972 4603790.148, 1041721.467..."
1,71,Vico del Gargano,1.122155e+08,56884.659310,"POLYGON ((1079914.496 4666947.555, 1079974.995..."
2,71,Vieste,1.690001e+08,59072.939490,"MULTIPOLYGON (((1091226.148 4664751.555, 10915..."
3,71,Volturara Appula,5.222361e+07,32206.389310,"POLYGON ((1005603.291 4615208.353, 1006059.537..."
4,71,Rocchetta Sant'Antonio,7.245973e+07,42285.619431,"POLYGON ((1044280.402 4575508.386, 1044778.648..."

In [29]:
comuni_puglia['id_prov'] = comuni_puglia['id_prov'].map(convertitore_province_indici)

In [30]:
comuni_puglia.head()

,id_prov,nome,SHAPE_AREA,SHAPE_LEN,geometry
0,2,Troia,1.681198e+08,77160.551947,"POLYGON ((1041275.972 4603790.148, 1041721.467..."
1,2,Vico del Gargano,1.122155e+08,56884.659310,"POLYGON ((1079914.496 4666947.555, 1079974.995..."
2,2,Vieste,1.690001e+08,59072.939490,"MULTIPOLYGON (((1091226.148 4664751.555, 10915..."
3,2,Volturara Appula,5.222361e+07,32206.389310,"POLYGON ((1005603.291 4615208.353, 1006059.537..."
4,2,Rocchetta Sant'Antonio,7.245973e+07,42285.619431,"POLYGON ((1044280.402 4575508.386, 1044778.648..."

In [31]:
comuni_puglia['id_comune'] = [i for i in range(1, comuni_puglia.shape[0]+1)]

In [32]:
comuni_puglia.head()

,id_prov,nome,SHAPE_AREA,SHAPE_LEN,geometry,id_comune
0,2,Troia,1.681198e+08,77160.551947,"POLYGON ((1041275.972 4603790.148, 1041721.467...",1
1,2,Vico del Gargano,1.122155e+08,56884.659310,"POLYGON ((1079914.496 4666947.555, 1079974.995...",2
2,2,Vieste,1.690001e+08,59072.939490,"MULTIPOLYGON (((1091226.148 4664751.555, 10915...",3
3,2,Volturara Appula,5.222361e+07,32206.389310,"POLYGON ((1005603.291 4615208.353, 1006059.537...",4
4,2,Rocchetta Sant'Antonio,7.245973e+07,42285.619431,"POLYGON ((1044280.402 4575508.386, 1044778.648...",5

In [33]:
comuni_puglia.to_file('dataset/dati_spaziali/Com01012019_g/comuni.shp')

## POPOLAZIONE COMUNI

In [34]:
pop_maschi = pd.read_csv('dataset/popolazione/DCIS_POPRES1_15052023120359710.csv')
pop_femmine = pd.read_csv('dataset/popolazione/DCIS_POPRES1_15052023120546025.csv')

In [35]:
pop_maschi.head()

,ITTER107,Territorio,TIPO_DATO15,Tipo di indicatore demografico,SEXISTAT1,Sesso,ETA1,Età,STATCIV2,Stato civile,TIME,Seleziona periodo,Value
0,71024,Foggia,JAN,popolazione al 1º gennaio,1,maschi,TOTAL,totale,99,totale,2020,2020,72935
1,72006,Bari,JAN,popolazione al 1º gennaio,1,maschi,TOTAL,totale,99,totale,2020,2020,151524
2,74001,Brindisi,JAN,popolazione al 1º gennaio,1,maschi,TOTAL,totale,99,totale,2020,2020,40513
3,75035,Lecce,JAN,popolazione al 1º gennaio,1,maschi,TOTAL,totale,99,totale,2020,2020,44437
4,110001,Andria,JAN,popolazione al 1º gennaio,1,maschi,TOTAL,totale,99,totale,2020,2020,48621

In [36]:
pop_femmine.head()

,ITTER107,Territorio,TIPO_DATO15,Tipo di indicatore demografico,SEXISTAT1,Sesso,ETA1,Età,STATCIV2,Stato civile,TIME,Seleziona periodo,Value
0,72006,Bari,JAN,popolazione al 1º gennaio,2,femmine,TOTAL,totale,99,totale,2020,2020,163760
1,73027,Taranto,JAN,popolazione al 1º gennaio,2,femmine,TOTAL,totale,99,totale,2020,2020,99835
2,74001,Brindisi,JAN,popolazione al 1º gennaio,2,femmine,TOTAL,totale,99,totale,2020,2020,43952
3,75035,Lecce,JAN,popolazione al 1º gennaio,2,femmine,TOTAL,totale,99,totale,2020,2020,49428
4,110002,Barletta,JAN,popolazione al 1º gennaio,2,femmine,TOTAL,totale,99,totale,2020,2020,46975

In [37]:
comuni_puglia['pop_fem'] = None
comuni_puglia['pop_mas'] = None
comuni_puglia['anno'] = 2020

In [38]:
comuni_puglia.head()

,id_prov,nome,SHAPE_AREA,SHAPE_LEN,geometry,id_comune,pop_fem,pop_mas,anno
0,2,Troia,1.681198e+08,77160.551947,"POLYGON ((1041275.972 4603790.148, 1041721.467...",1,None,None,2020
1,2,Vico del Gargano,1.122155e+08,56884.659310,"POLYGON ((1079914.496 4666947.555, 1079974.995...",2,None,None,2020
2,2,Vieste,1.690001e+08,59072.939490,"MULTIPOLYGON (((1091226.148 4664751.555, 10915...",3,None,None,2020
3,2,Volturara Appula,5.222361e+07,32206.389310,"POLYGON ((1005603.291 4615208.353, 1006059.537...",4,None,None,2020
4,2,Rocchetta Sant'Antonio,7.245973e+07,42285.619431,"POLYGON ((1044280.402 4575508.386, 1044778.648...",5,None,None,2020

In [39]:
comuni_puglia.head()

,id_prov,nome,SHAPE_AREA,SHAPE_LEN,geometry,id_comune,pop_fem,pop_mas,anno
0,2,Troia,1.681198e+08,77160.551947,"POLYGON ((1041275.972 4603790.148, 1041721.467...",1,None,None,2020
1,2,Vico del Gargano,1.122155e+08,56884.659310,"POLYGON ((1079914.496 4666947.555, 1079974.995...",2,None,None,2020
2,2,Vieste,1.690001e+08,59072.939490,"MULTIPOLYGON (((1091226.148 4664751.555, 10915...",3,None,None,2020
3,2,Volturara Appula,5.222361e+07,32206.389310,"POLYGON ((1005603.291 4615208.353, 1006059.537...",4,None,None,2020
4,2,Rocchetta Sant'Antonio,7.245973e+07,42285.619431,"POLYGON ((1044280.402 4575508.386, 1044778.648...",5,None,None,2020

Merge dei dataset relativi alla popolazione femminile e alla popolazione maschile

In [40]:
for i in range(comuni_puglia.shape[0]):
    comune = comuni_puglia.loc[i, 'nome']
    pop_maschi_comune = pop_femmine[pop_femmine['Territorio'] == comune]['Value'].values
    
    # Se non sono presenti i dati sulla popolazione
    if len(pop_maschi_comune) == 0:
        pop_maschi_comune = None
    else:
        pop_maschi_comune = pop_maschi_comune[0]
    pop_femmine_comune = pop_maschi[pop_maschi['Territorio'] == comune]['Value'].values
    if len(pop_femmine_comune) == 0:
        pop_femmine_comune = None
    else:
        pop_femmine_comune = pop_femmine_comune[0]
        
    comuni_puglia.loc[i, 'pop_mas'] = pop_maschi_comune
    comuni_puglia.loc[i, 'pop_fem'] = pop_femmine_comune

In [41]:
comuni_puglia.head()

,id_prov,nome,SHAPE_AREA,SHAPE_LEN,geometry,id_comune,pop_fem,pop_mas,anno
0,2,Troia,1.681198e+08,77160.551947,"POLYGON ((1041275.972 4603790.148, 1041721.467...",1,3369,3575,2020
1,2,Vico del Gargano,1.122155e+08,56884.659310,"POLYGON ((1079914.496 4666947.555, 1079974.995...",2,3660,3833,2020
2,2,Vieste,1.690001e+08,59072.939490,"MULTIPOLYGON (((1091226.148 4664751.555, 10915...",3,6807,6865,2020
3,2,Volturara Appula,5.222361e+07,32206.389310,"POLYGON ((1005603.291 4615208.353, 1006059.537...",4,182,219,2020
4,2,Rocchetta Sant'Antonio,7.245973e+07,42285.619431,"POLYGON ((1044280.402 4575508.386, 1044778.648...",5,862,895,2020

# INDICATORI

In [42]:
indicatori_dict = {'nome': ['Particolato PM10', 'Particolato PM2.5'],
                   'sigla': ['PM10', 'PM2.5'],
                   'soglia_giorni_superamento': [4, 4],
                   'soglia_media_annuale': [10, 20]}
indicatori = pd.DataFrame(indicatori_dict)

In [43]:
indicatori.to_csv('dataset/indicatori/indicatori.csv', index=False)

In [44]:
indicatori.head()

                nome  sigla  soglia_giorni_superamento  soglia_media_annuale
0   Particolato PM10   PM10                          4                    10
1  Particolato PM2.5  PM2.5                          4                    20

# STAZIONI, RILEVAZIONI E RILEVA

In [45]:
stazioni = pd.DataFrame(columns= ['id_staz', 'nome', 'tipo_zona', 'tipo_staz', 'lat', 'long', 'id_comune'])
rileva = pd.DataFrame(columns= ['id_staz', 'id_indicatore'])
rilevazioni = pd.DataFrame(columns= ['id_rilevazione', 'anno', 'giorni_superamento', 'media_annuale', 'nome_indicatore', 'massimo', 'id_stazione'])

In [46]:
rilevazioni_pm25 = pd.read_csv('dataset/indicatori/puglia_PM2_5_2020.csv', sep=';')
rilevazioni_pm10 = pd.read_csv('dataset/indicatori/puglia_PM10_2020.csv', sep=';')

In [47]:
rilevazioni_pm25.head()

,Provincia,Comune,Nome stazione,Tipo_zona,Tipo_stazione,Valore medio annuo,Massimo,Giorni di superamento del valore limite giornaliero,Latitudine,Longitudine
0,Foggia,Lucera,Azienda Russo,R,F,13,54,89,41546806,15451352
1,Foggia,San Severo,Posta del Principe,R,F,13,64,107,41632761,1538772
2,Bari,Altamura,ALTAMURA,S,T,11,40,48,40827865,16560195
3,Bari,Bari,Caldarola,U,T,12,53,70,4111354,16888061
4,Bari,Bari,CAVOUR,U,T,13,52,95,41122269,16872553

In [48]:
rilevazioni_pm10.head()

,Provincia,Comune,Nome stazione,Tipo zona,Tipo stazione,Valore medio annuo,Giorni di superamento del valore limite giornaliero,Massimo,Latitudine,Longitudine
0,Foggia,Lucera,Azienda Russo,R,F,20,16,93,41546806,15451352
1,Foggia,Manfredonia,Manfredonia VIA DEI MANDORLI,S,T,17,6,88,41629329,15909637
2,Foggia,Monte Sant'Angelo,Monte S. Angelo SUOLO CIUFFREDA,R,F,14,6,84,41666106,15945254
3,Foggia,San Severo,Posta del Principe,R,F,21,16,95,41632761,1538772
4,Bari,Altamura,ALTAMURA,S,T,20,8,84,40827865,16560195

Aggiunta del punto nella latitudine e longitudine (###### => ##.####)

In [49]:
add_point_f = lambda x: str(x[:2]) + '.' + str(x[2:])

In [50]:
rilevazioni_pm10["Latitudine"] = rilevazioni_pm10["Latitudine"].astype('string')
rilevazioni_pm10['Latitudine'] = rilevazioni_pm10['Latitudine'].apply(add_point_f)
rilevazioni_pm10["Longitudine"] = rilevazioni_pm10["Longitudine"].astype('string')
rilevazioni_pm10['Longitudine'] = rilevazioni_pm10['Longitudine'].apply(add_point_f)


rilevazioni_pm25["Latitudine"] = rilevazioni_pm25["Latitudine"].astype('string')
rilevazioni_pm25['Latitudine'] = rilevazioni_pm25['Latitudine'].apply(add_point_f)
rilevazioni_pm25["Longitudine"] = rilevazioni_pm25["Longitudine"].astype('string')
rilevazioni_pm25['Longitudine'] = rilevazioni_pm25['Longitudine'].apply(add_point_f)

In [51]:
rilevazioni_pm10.head()

,Provincia,Comune,Nome stazione,Tipo zona,Tipo stazione,Valore medio annuo,Giorni di superamento del valore limite giornaliero,Massimo,Latitudine,Longitudine
0,Foggia,Lucera,Azienda Russo,R,F,20,16,93,41.546806,15.451352
1,Foggia,Manfredonia,Manfredonia VIA DEI MANDORLI,S,T,17,6,88,41.629329,15.909637
2,Foggia,Monte Sant'Angelo,Monte S. Angelo SUOLO CIUFFREDA,R,F,14,6,84,41.666106,15.945254
3,Foggia,San Severo,Posta del Principe,R,F,21,16,95,41.632761,15.38772
4,Bari,Altamura,ALTAMURA,S,T,20,8,84,40.827865,16.560195

In [52]:
rilevazioni_pm25.head()

,Provincia,Comune,Nome stazione,Tipo_zona,Tipo_stazione,Valore medio annuo,Massimo,Giorni di superamento del valore limite giornaliero,Latitudine,Longitudine
0,Foggia,Lucera,Azienda Russo,R,F,13,54,89,41.546806,15.451352
1,Foggia,San Severo,Posta del Principe,R,F,13,64,107,41.632761,15.38772
2,Bari,Altamura,ALTAMURA,S,T,11,40,48,40.827865,16.560195
3,Bari,Bari,Caldarola,U,T,12,53,70,41.11354,16.888061
4,Bari,Bari,CAVOUR,U,T,13,52,95,41.122269,16.872553

In [53]:
dict_columns = {'Nome stazione': 'Nome_stazione', 
                                'Valore medio annuo': 'Valore_medio_annuo',
                                'Tipo zona': 'Tipo_zona',
                                'Tipo stazione': 'Tipo_stazione',
                                'Giorni di superamento del valore limite giornaliero': 'giorni_superamento'}

rilevazioni_pm25.rename(columns=dict_columns,
                       inplace=True)
rilevazioni_pm10.rename(columns=dict_columns,
                       inplace=True)

In [54]:
rilevazioni_pm25.head()

,Provincia,Comune,Nome_stazione,Tipo_zona,Tipo_stazione,Valore_medio_annuo,Massimo,giorni_superamento,Latitudine,Longitudine
0,Foggia,Lucera,Azienda Russo,R,F,13,54,89,41.546806,15.451352
1,Foggia,San Severo,Posta del Principe,R,F,13,64,107,41.632761,15.38772
2,Bari,Altamura,ALTAMURA,S,T,11,40,48,40.827865,16.560195
3,Bari,Bari,Caldarola,U,T,12,53,70,41.11354,16.888061
4,Bari,Bari,CAVOUR,U,T,13,52,95,41.122269,16.872553

In [55]:
rilevazioni_pm10.head()

,Provincia,Comune,Nome_stazione,Tipo_zona,Tipo_stazione,Valore_medio_annuo,giorni_superamento,Massimo,Latitudine,Longitudine
0,Foggia,Lucera,Azienda Russo,R,F,20,16,93,41.546806,15.451352
1,Foggia,Manfredonia,Manfredonia VIA DEI MANDORLI,S,T,17,6,88,41.629329,15.909637
2,Foggia,Monte Sant'Angelo,Monte S. Angelo SUOLO CIUFFREDA,R,F,14,6,84,41.666106,15.945254
3,Foggia,San Severo,Posta del Principe,R,F,21,16,95,41.632761,15.38772
4,Bari,Altamura,ALTAMURA,S,T,20,8,84,40.827865,16.560195

In [56]:
def crea_stazioni_rileva_rilevazioni(rilevazioni_indicatore, rilevazioni, stazioni, comuni_puglia, rileva, nome_indicatore):
    for i in range(rilevazioni_indicatore.shape[0]):
        #Stazioni
        id_stazione = stazioni.shape[0]+1
        nome = rilevazioni_indicatore.loc[i, 'Nome_stazione']
        tipo_zona = rilevazioni_indicatore.loc[i, 'Tipo_zona']
        tipo_stazione = rilevazioni_indicatore.loc[i, 'Tipo_stazione']
        latitudine = rilevazioni_indicatore.loc[i, 'Latitudine']
        longitudine = rilevazioni_indicatore.loc[i, 'Longitudine']

        comune = rilevazioni_indicatore.loc[i, 'Comune']
        id_comune = comuni_puglia[comuni_puglia['nome'] == comune]['id_comune'].values[0]

        #Se non è presente la stazione, la inserisco
        if len(stazioni[stazioni['nome'] == nome].values) == 0:
            stazione = [id_stazione, nome, tipo_zona, tipo_stazione, latitudine, longitudine, id_comune]
            stazioni.loc[len(stazioni)] = stazione
        else:
            id_stazione = stazioni[stazioni['nome'] == nome]['id_staz'].values[0]

        #Rileva
        rileva_row = [id_stazione, nome_indicatore]
        rileva.loc[len(rileva)] = rileva_row

        #Rilevazioni
        id_rilevaz = rilevazioni.shape[0]+1
        anno = 2020
        giorni_superamento = rilevazioni_indicatore.loc[i, 'giorni_superamento']
        massimo = rilevazioni_indicatore.loc[i, 'Massimo']
        media_annuale = rilevazioni_indicatore.loc[i, 'Valore_medio_annuo']
        rilevazione_row = [id_rilevaz, anno, giorni_superamento, media_annuale, nome_indicatore, massimo, id_stazione]
        rilevazioni.loc[len(rilevazioni)] = rilevazione_row
    
    return stazioni, rileva, rilevazioni

In [57]:
# Per le rilevazioni del PM2.5
stazioni, rileva, rilevazioni = crea_stazioni_rileva_rilevazioni(rilevazioni_pm25, rilevazioni, stazioni, comuni_puglia, rileva, 'Particolato PM2.5')
# Per le rilevazioni del PM10
stazioni, rileva, rilevazioni = crea_stazioni_rileva_rilevazioni(rilevazioni_pm10, rilevazioni, stazioni, comuni_puglia, rileva, 'Particolato PM10')

In [58]:
rileva.to_csv('dataset/indicatori/rileva.csv', index=False)
stazioni.to_csv('dataset/indicatori/stazioni.csv', index=False)
rilevazioni.to_csv('dataset/indicatori/rilevazioni.csv', index=False)